<%- include('partials/header') %>
<h2 style="text-align: center;">Please Click on The Area that you want to update</h2>
<br>

  <div class="image-grid2">
<% const mapz = ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31","32","33","34","35","36","37","38","39","40","41","42","43","44","45","46","47","48","49","50","51","52","53","54","55","56","57","58","59","60","61","62","63","64","65","66","67","68","69","70","71","72","73","74","75","76","77","78","79","80","81","82","83","84","85","86","87","88","89","90"]; %>

<% if (map.length) {%>
  <% if (map[0].mapgrid_id != 1) { %>

    <% for (let i = 0;i < map.length ;i++) {%>
      <% let x = map[i].mapgrid_id %>
      
      <% for (let a = 0;a < x-1 ;a++) {%>
        <div class="cell gridem" onclick="location.href='/map/addmap/<%= mapid %>/<%= mapz[a] %>'"></div>
      <% } %>

      <% if (map[i].mapgrid_id != mapz[i]) {%>
            <div class="cell"><img class="img-map" style="margin: 1px; border: 1px solid  black;" src="/assets/img/1/map/<%= map[i].image_cover %>"onclick="location.href='/map/edit/<%= mapid %>/<%= map[i].mapgrid_id %>'"> </div>
       <% } %>
    <% } %>

    <% if (map.length < mapz.length) {%>   
            <% let z = map[map.length -1] %>
            <% for (let j = z.mapgrid_id;j < mapz.length ;j++) {%>
            <div class="cell gridem" onclick="location.href='/map/addmap/<%= mapid %>/<%= mapz[j] %>'"></div>
            <% } %>
    <% } %>

  <% } else { %>
      <% for (let i = 0;i < map.length ;i++) {%>

          <% if (map[i].mapgrid_id != mapz[i]) {%>
              <% let x = map[i-1].mapgrid_id %>           

              <% if (map[i].mapgrid_id != mapz[x]) {%>

                <% for (let h = mapz[x];h < map[i].mapgrid_id ;h++) {%>
                  <div class="cell gridem" onclick="location.href='/map/addmap/<%= mapid %>/<%= mapz[h-1] %>'"></div>
                <% } %>
          
              <% } %>
               
                <div class="cell"><img class="img-map" style="margin: 1px; border: 1px solid  black;" src="/assets/img/1/map/<%= map[i].image_cover %>"onclick="location.href='/map/edit/<%= mapid %>/<%= map[i].mapgrid_id %>'"> </div>
           <% } else { %>
          <div class="cell"><img class="img-map" style="margin: 1px; border: 1px solid  black;" src="/assets/img/1/map/<%= map[i].image_cover %>"onclick="location.href='/map/edit/<%= mapid %>/<%= map[i].mapgrid_id %>'"> </div>
            <% } %>
      <% } %>

      <% if (map.length < mapz.length) {%>   
           <% let z = map[map.length -1] %>
                <% for (let j = z.mapgrid_id;j <= mapz.length-1 ;j++) {%>
                <div class="cell gridem" onclick="location.href='/map/addmap/<%= mapid %>/<%= mapz[j] %>'"></div>
                 <% } %>
      <% } %>
  <% } %>
<% } else { %>
      <% for (let i = 0;i < mapz.length ;i++) {%>
        <div class="cell gridem" onclick="location.href='/map/addmap/<%= mapid %>/<%= i+1 %>'"></div>
      <% } %>
<% } %>
  </div>
  </body>
  </html>
  <script src="/assets/js/jquery-3.3.1.min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/jquery.sticky.js"></script>
  <script src="/assets/js/main.js"></script>